<div id="productoView" data-role="view" data-title="Productos" data-layout="main" data-model="app.producto" data-show="app.producto.onShow" data-after-show="app.producto.afterShow">

    <!-- START_CUSTOM_CODE_producto -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_producto -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <span data-role="view-title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>


            <a data-role="button" data-align="right" data-bind="events: { click: productoModel.addClick }">Add</a>

        </div>
    </header>


    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input type="search" placeholder="Search..." data-bind="{events:{keyup: productoModel.searchChange}}">
        </div>
    </form>
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="productoModelTemplate" data-bind="{ source: productoModel.dataSource, events: {click: productoModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>


    <!-- START_CUSTOM_CODE_productoModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_productoModel -->
    <script type="text/x-kendo-template" id="productoModelTemplate">
        <div class="image-with-text">
            # data = app.producto.productoModel.fixHierarchicalData(data); #

            <h3>#: data['nombre'] #</h3>
            <p>#: data['descripcion'] #</p>
        </div>
    </script>
</div>