<div data-role="view" data-title="Home" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="signin-view">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Email
                        <input type="email" data-bind="value: homeModel.email" required autofocus>
                    </label>
                </li>
                <li>
                    <label>Password
                        <input type="password" data-bind="value: homeModel.password" required>
                    </label>
                </li>
                <li>
                    <label>Recordar
                        <input type="checkbox" data-bind="checked: homeModel.rememberme">
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: homeModel.signin }">Ingresar</a>

                <a data-role="button" data-bind="events: { click: homeModel.toggleView }">Registrar</a>

            </div>
        </form>
    </div>
    <div class="signup-view" style="display:none;">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Email
                        <input type="email" data-bind="value: homeModel.email" required>
                    </label>
                </li>
                <li>
                    <label>Password
                        <input type="password" data-bind="value: homeModel.password">
                    </label>
                </li>
                <li>
                    <label>Name
                        <input type="text" data-bind="value: homeModel.displayName">
                    </label>
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.register }">Registrarme</a>
                <a data-role="button" data-bind="events: { click: homeModel.toggleView }">Regresar</a>
            </div>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homeModel -->

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>

<div data-role="modalview" id="modalview-alert-home" style="width: 70%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Mensaje</span>
<!--             <a onclick="closeModal('modalview-alert-home')" data-role="button" data-align="right"><span class="flaticon-close"></span></a> -->
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li id="contentAlertHome" class="form-content-item"></li>
    </ul>
    <div class="button-group">
        <a data-role="button" class="primary"  onclick="closeModal('modalview-alert-home')" >Aceptar</a>
    </div>
</div>