<div data-role="view" data-title="Details" data-model="app.orden.ordenModel" data-bind="events: { show: detailsShow }" id="ordenModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['codigo']"></span>
        </div>
    </header>

    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <h3 data-bind="text: currentItem.total"></h3></li>
                <li>
                    <p data-bind="text: currentItem.estado"></p>
                </li>

                <li class="detail-content-item">

                    <div class="editableListItem">

                        <div>Tipo</div>
                        <div data-bind="html: currentItem.tipo"></div>
                    </div>

                </li>
                <li class="detail-content-item">

                    <div class="editableListItem">

                        <div>Pago</div>
                        <div data-bind="html: currentItem.pago"></div>
                    </div>

                </li>
                <li class="detail-content-item">

                    <div class="editableListItem">

                        <div>Productos</div>
                        <div data-bind="html: currentItem.productos"></div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_ordenModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_ordenModel -->
</div>